{% extends 'base.html' %}

{% block title %}Change Password{% endblock %}

{% block content %}

<style>
    .error-message {
        text-align: center;
        display: block;
        color: var(--error-color);
        margin-top: 10px;
    }

    .reset-container {
        background: var(--secondary-color);
        backdrop-filter: blur(10px);
        padding: 30px;
        border-radius: 15px;
        box-shadow: var(--box-shadow);
        width: 100%;
        max-width: 400px;
        animation: fadeIn 1s ease-in-out;
    }

    .reset-container h2 {
        text-align: center;
        margin-bottom: 30px;
        font-size: 2rem;
        letter-spacing: 2px;
        text-transform: uppercase;
    }

    .modal-content {
        background-color: var(--secondary-color);
        color: var(--text-color);
        transition: background-color 0.3s ease;
    }

    .modal-content div {
        border: none;
    }

    .floating-label-group {
        position: relative;
        margin-bottom: 20px;
        width: 100%;
    }

    .floating-label-group label {
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 16px;
        color: var(--text-color);
        transition: all 0.3s ease;
        pointer-events: none;
        font-size: 1rem;
        letter-spacing: 2px;
        background: transparent;
        padding: 0 5px;
    }

    .floating-label-group input:focus+label,
    .floating-label-group input:not(:placeholder-shown)+label {
        top: -12px;
        font-size: 12px;
        padding: 0 5px;
        left: 10px;
    }

    .floating-label-group input:focus {
        background-color: var(--input-focus-color);
    }

    .floating-label-group .visible-button {
        position: absolute;
        top: 35%;
        right: 10px;
        transform: translateY(-50%);
        cursor: pointer;
        transition: all 0.3s ease;
    }
</style>

<div class="reset-container">
    <h2>New Password</h2>
    <form class="row g-3" method="POST" action="#">
        {% csrf_token %}
        <div class="mb-3">
            <div class="floating-label-group">
                <input type="password" class="form-control" id="password" name="password" placeholder=" " required>
                <label for="password">Enter new password</label>
            </div>
        </div>
        <div class="mb-3">
            <div class="floating-label-group">
                <input type="password" class="form-control" id="re-password" name="re-password" placeholder=" "
                    required>
                <label for="re-password">Enter new password again</label>
            </div>
        </div>
        <div id="accessType" style="display:none;">{{access}}</div>
        <button type="submit" class="btn-login" id="changeBTN">Change</button>
        {% if error %}
        <p id="error-message" class="error-message">{{ error }}</p>
        {%else%}
        <p id="error-message" class="error-message">&nbsp;</p>
        {% endif %}
    </form>
</div>

<script>
    var accessValue = document.getElementById("accessType").textContent;

    window.onload = function() {
        if (accessValue==='False') {
            document.getElementById("password").style.background = 'transparent';
            document.getElementById("re-password").style.background = 'transparent';
            
            document.getElementById("password").disabled = true;
            document.getElementById("re-password").disabled = true;
            document.getElementById("changeBTN").disabled = true;
        }
    }
</script>
{% endblock %}