{% extends 'base.html' %}

{% block title %}Prompt Results{% endblock %}

{% block content %}
<style>
    .body {
        font-family: Arial, sans-serif;
        background: transparent;
        text-align: center;
        padding: 50px;
    }

    h1 {
        font-size: 50px;
        margin-bottom: 20px;
    }

    p {
        font-size: 20px;
    }

    a {
        text-decoration: none;
        color: var(--info-color);
    }

    a:hover {
        text-decoration: underline;
    }
</style>
<div class="body">
    <h1>{{exceptionType}}</h1>
    <p>Sorry, something went wrong. Please try again later.</p>
    <p><a href="/">Return to Home</a></p>
</div>
{% endblock %}